#inventoryManage {
    width: 80%;
    min-width: 380px;
    margin: 0 auto;
}

/* #region Inventory info */
#inventoryManage .inventory-info {
    justify-content: space-between;
    flex: 3;
}

#inventoryManage .inventory-name {
    letter-spacing: 4px;
}

#inventoryManage.inventory-description {
    letter-spacing: 2px;
    color: var(--color-desc);
}

#inventoryManage .inventory-name, 
#inventoryManage .inventory-description {
    margin-top: 0;
}

#inventoryManage .btn-settings {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

#inventoryManage .btn-settings.ripple:hover {
    background: var(--color-settings-hover) radial-gradient(circle, transparent 1%, var(--color-settings-hover) 1%) center/15000%;
}

#inventoryManage .btn-settings.ripple:active {
    background-color: var(--color-settings-active);
}
/* #endregion */