#menu {
    width: 80%;
    margin: 0 auto;
}

#menu h1 {
    text-align: center;
    color: var(--color-main);
    letter-spacing: 4px;
    font-size: 3rem;
}

#menu p {
    margin-top: 0;
    color: var(--color-desc);
}

#menu .menu-content {
    flex-wrap: wrap;
    justify-content: space-between;
}

#menu .menu-card {
    border: 1px solid var(--color-desc);
    border-radius: 12px;
    padding: 1rem 2rem;
    min-width: 160px;
    background-color: var(--color-white);
    user-select: none;
}

#menu .menu-card .d-flex {
    justify-content: space-evenly;
}

#menu .menu-card .divide {
    height: 100%;
    border: 1px solid var(--color-desc);
}

#menu .product-name {
    text-align: center;
    letter-spacing: 4px;
}

#menu .product-rating {
    justify-content: center !important;
    align-items: center;
    column-gap: 6px;
    margin-top: 0;
}