:root {
  /* color */
  --color-white: #fff;
  --color-bg: #eaf2fb;
  --color-desc: #6c757d;
  --rgb-shadow-sm: 0, 0, 0, .75;

  /* size */
  --shadow-sm: 0 .125rem .25rem;
}

* {
  font-family: "American Typewriter", "Apple LiGothic", "Microsoft JhengHei";
  box-sizing: border-box;
  position: relative;
}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-bg);
}

#root {
  padding: 2rem;
  width: 80%;
  min-width: 380px;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.row-gap {
  row-gap: 1rem;
}

.column-gap {
  column-gap: 1rem;
}

/* #region ProductCard */
.product-card {
  background-color: var(--color-white);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: var(--shadow-sm) var(--rgb-shadow-sm);
}
/* #endregion */

/* #region Product-info */
.product-info {
  justify-content: space-between;
  flex: 3;
}

.product-name {
  letter-spacing: 4px;
}

.product-description {
  letter-spacing: 2px;
  color: var(--color-desc);
}

.product-name, .product-description {
  margin-top: 0;
}
/* #endregion */